<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TestIt Homepage</title>
 
  
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="js/jquery-1.9.1.js" type='text/javascript'></script>
  <script src="js/jquery-ui-1.10.3.custom.min.js" type='text/javascript'></script> 
  <script src="js/jquery-1.11.2.min.js" type='text/javascript'></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <script src = "https://cdn.rawgit.com/nervgh/angular-file-upload/master/angular-file-upload.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.6/es5-shim.min.js"></script>
  <script>
    var demoApp = angular.module('demoApp',['angularFileUpload']);
    function MainController ($scope, $http, $location, FileUploader){
      $scope.uploader = new FileUploader();
      $scope.current_page = "landing";
      $scope.contrib_problem = "";
      var test_cases = [];
      var test_text = "";

      $scope.setPage = function(page){
        $scope.current_page = page;
      };

      $scope.validSubmissions = function(){
        test_cases = [$scope.assert_10, $scope.assert_11, $scope.assert_12, $scope.assert_20, $scope.assert_21, $scope.assert_22,
                      $scope.assert_30, $scope.assert_31, $scope.assert_32];
        for (var i=0; i< test.cases.length; i++){
          test_cases[i] = test_cases[i].trim();
          if (test_cases[i]==""){
            return false;
          }
        }

        test_text = $scope.prbsub.trim();
        return (test_text=="") ? false : true;
      };

      $scope.uploadFiles = function(){
        
        for (var i = 0; i< $scope.uploader.queue.length; i++){
          $scope.uploader.queue[i].upload();
        }

        var form_data = {};
        form_data.mode = "submission";

        form_data.tests = [];
        form_data.tests.push({a10: $scope.assert_10, a11: $scope.assert_11, a12: $scope.assert_12});
        form_data.tests.push({a20: $scope.assert_20, a21: $scope.assert_21, a22: $scope.assert_22});
        form_data.tests.push({a30: $scope.assert_30, a31: $scope.assert_31, a32: $scope.assert_32});

        var sub = ($scope.prbsub==null)? "" : $scope.prbsub;
        console.log(sub);

        console.log('sending post');
        $http.post('', form_data).
            success(function(data, status, headers, config) {
              // this callback will be called asynchronously
              // when the response is available
            }).
            error(function(data, status, headers, config) {
              // called asynchronously if an error occurs
              // or server returns response with an error status.
            });
        return null;
      };

      $scope.checkContributor = function(){

        var form_data = {};
        form_data.mode = "contributor";

        form_data.tests = [];
        form_data.tests.push({a10: $scope.assert_10, a11: $scope.assert_11, a12: $scope.assert_12});
        form_data.tests.push({a20: $scope.assert_20, a21: $scope.assert_21, a22: $scope.assert_22});
        form_data.tests.push({a30: $scope.assert_30, a31: $scope.assert_31, a32: $scope.assert_32});

        form_data.ps = ($scope.prbsub==null)? "" : $scope.prbsub.trim();

        console.log('sending post');
        $http.post('', form_data).
            success(function(data, status, headers, config) {
              // this callback will be called asynchronously
              // when the response is available
            }).
            error(function(data, status, headers, config) {
              // called asynchronously if an error occurs
              // or server returns response with an error status.
            });
        return null;
      };
    }

    demoApp.controller('MainController',MainController);
  </script>
  <style>
            .my-drop-zone { border: dotted 3px lightgray; text-align:center;}
            .nv-file-over { border: dotted 3px red; text-align:center;} /* Default class applied to drop zones on over */
            .another-file-over-class { border: dotted 3px green; }
            html, body { height: 100%; }
  </style>
</head>
<body ng-app="demoApp" ng-controller="MainController" uploader="uploader" nv-file-drop="">

  <div class="navbar navbar-inverse navbar-fixed-top" position="static" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><font color = "red">testIt</font></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
        
           <!-- <li><a href="">Home</a></li> -->
           
            <li ><a ng-click="setPage('profile')">Profile</a></li>
            <li><a ng-click="setPage('submission')">Submission Page</a></li>
            <li><a ng-click="setPage('contribution')">Contributor Page</a></li>
            <li><a ng-click="setPage('developers')">Developers</a></li>
          
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  <br />
<br />
<br />

<!-- Developers starting -->

<div class="container" ng-if="current_page=='developers'">
 <!-- <div ng-if="isAuthenticated() && currentUser.username"> -->
    <div class="container marketing" align="center">

     <div class = "row">
        <div class="col-sm-3">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt= "Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Sharang</h2>
          <p>  SCS 2017 <br> Carnegie Mellon University
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button"> More about me </a>
          </p>  
        </div>
      
        <div class="col-sm-3">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt= "Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Narain</h2>
          <p>  MCS 2017 <br> Carnegie Mellon University
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button"> More about me </a>
          </p>  
        </div>
        
        <div class="col-sm-3">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt= "Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Sohil</h2>
          <p>  ECE 2016 <br> Carnegie Mellon University
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button"> More about me </a>
          </p>  
        </div>
       
        <div class="col-sm-3">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt= "Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Ashwin</h2>
          <p>  ECE 2017 <br> Carnegie Mellon University
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button"> More about me </a>
          </p>  
        </div>

       </div>

     </div>
</div>

<!-- Developers Ending -->

<!--Problem Submission Starting -->
<div class="container" ng-if="current_page == 'submission'">
      <div class="row text-center">
        <h4 for="prbsub">Problem Submission</h4>
      </div>
      <div class="row">
        <form role="form">
              <div class="form-group text-center">
                  <textarea ng-model="$parent.prbsub" rows="13" cols="100" style="resize:none;">
                    Type problem here ....
                  </textarea>
                  <br>
                  <!-- test1 starting -->
                  <div class="row">
                    <label>Test 1:</label>
                    <textarea ng-model="$parent.assert_10" rows="1" cols="38" style="resize:none;">
                      test 1 here ..
                    </textarea>  
                    <textarea ng-model="$parent.assert_11" rows="1" cols="10" style="resize:none;">
                      equal
                    </textarea>
                    <textarea ng-model="$parent.assert_12" rows="1" cols="38" style="resize:none;">
                      solution 1 here ..
                    </textarea>
                  </div>
                  <!-- test1 ending -->

                  <!-- test 2 starting -->
                  <div class="row">
                    <label for="assert_20">Test 2:</label>
                    <textarea ng-model="$parent.assert_20" rows="1" cols="38" style="resize:none;">
                      test 2 here ..
                    </textarea>  
                    <textarea ng-model="$parent.assert_21" rows="1" cols="10" style="resize:none;">
                      equal
                    </textarea>
                    <textarea ng-model="$parent.assert_22" rows="1" cols="38" style="resize:none;">
                      solution 2 here ..
                    </textarea>
                  </div>
                  <!-- test 2 ending -->

                  <!-- test 3 starting -->
                  <div class="row">
                    <label for="assert_30">Test 3:</label>
                    <textarea ng-model="$parent.assert_30" rows="1" cols="38" style="resize:none;">
                      test 3 here ..
                    </textarea>  
                    <textarea ng-model="$parent.assert_31" rows="1" cols="10" style="resize:none;">
                      equal
                    </textarea>
                    <textarea ng-model="$parent.assert_32" rows="1" cols="38" style="resize:none;">
                      solution 3 here ..
                    </textarea>
                  </div>
                  <!-- test 3 ending -->
                  <!-- upload file -->
              
                  <br />
                  <div class="row">
                      <div class="col-md-4 col-md-offset-4">
                        <div class="well my-drop-zone"  nv-file-over="" uploader="uploader">
                           Drop Code Folder/Files here
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <button class="btn btn-success" ng-click="uploadFiles()"> UPLOAD ALL FILES</button>
                  </div>
              </div>
        </form>
        <!-- Form ends here -->
      </div>
      <!-- Outermost row ends here -->

    </div>

<!-- Problem Submission Ending -->

<!--Contribution page Starting -->

<div class="container" ng-if="current_page == 'contribution'">
      <div class="row text-center">
        <h3 for="prbsub">Eligibility Test</h3>
      </div>
      <br>
      <div class="row">
        <form role="form">
              <div class="form-group text-center">
                   <textarea ng-model="check" rows="10" cols="105" style="resize:none;">
                      {{contrib_problem}}
                  </textarea>  
                  <br>
      
                  <div class="row text-center">
                    <h4 for="prbsub">Fill in missing parts of the Test Cases</h4>
                  </div>
                  <!-- test1 starting -->
                  <div class="row">
                    <label for="check_10">Check 1:</label>
                    <textarea ng-model="check_10" rows="1" cols="38" style="resize:none;">
                      Put solution here
                    </textarea>  
                    <textarea ng-model="check_11" rows="1" cols="10" style="resize:none;">
                      equal
                    </textarea>
                    <textarea ng-model="check_12" rows="1" cols="38" style="resize:none;">
                      Put solution here
                    </textarea>
                  </div>
                  <!-- test1 ending -->

                  <!-- test 2 starting -->
                  <div class="row">
                    <label for="check_20">Check 2:</label>
                    <textarea ng-model="check_20" rows="1" cols="38" style="resize:none;">
                      Put solution here
                    </textarea>  
                    <textarea ng-model="check_21" rows="1" cols="10" style="resize:none;">
                      equal
                    </textarea>
                    <textarea ng-model="check_22" rows="1" cols="38" style="resize:none;">
                      Put solution here
                    </textarea>
                  </div>
                  <!-- test 2 ending -->

                  <!-- test 3 starting -->
                  <div class="row">
                    <label for="check_30">Check 3:</label>
                    <textarea ng-model="check_30" rows="1" cols="38" style="resize:none;">
                      Put solution here
                    </textarea>  
                    <textarea ng-model="check_31" rows="1" cols="10" style="resize:none;">
                      equal
                    </textarea>
                    <textarea ng-model="check_32" rows="1" cols="38" style="resize:none;">
                      Put solution here
                    </textarea>
                  </div>
                  <!-- test 3 ending -->
                  <!-- upload file -->
               
                  <div class="row">
                    <button class="btn btn-success" ng-click=""> Submit </button>
                  </div>
              </div>
        </form>
        <!-- Form ends here -->
      </div>
      <!-- Outermost row ends here -->

    </div>
<!-- Contribution Page ends -->

    <!-- Success Page starts -->

<div class="container" ng-if="current_page == 'success'">
      <div class="row text-center">
        <h4 for="prbsub">Contribute Your Solution</h4>
      </div>
      <div class="row">
        <form role="form">
              <div class="form-group text-center">
                  <textarea ng-model="success" rows="10" cols="105" style="resize:none;">
                      {{contrib_problem}}
                  </textarea>  
                  <br>
                  <br>
                  <div class="row text-center">
                    <h4 for="prbsub">Your Test Cases go here:</h4>
                  </div>
                  <!-- test1 starting -->
                  <div class="row">
                    <label for="success_10">Solution 1:</label>
                    <textarea ng-model="success_10" rows="1" cols="38" style="resize:none;">
                      Put solution here
                    </textarea>  
                    <textarea ng-model="success_11" rows="1" cols="10" style="resize:none;">
                      equal
                    </textarea>
                    <textarea ng-model="success_12" rows="1" cols="38" style="resize:none;">
                      Put solution here
                    </textarea>
                  </div>
                  <!-- test1 ending -->

                  <!-- test 2 starting -->
                  <div class="row">
                    <label for="success_20">Solution 2:</label>
                    <textarea ng-model="success_20" rows="1" cols="38" style="resize:none;">
                      Put solution here
                    </textarea>  
                    <textarea ng-model="success_21" rows="1" cols="10" style="resize:none;">
                      equal
                    </textarea>
                    <textarea ng-model="success_22" rows="1" cols="38" style="resize:none;">
                      Put solution here
                    </textarea>
                  </div>
                  <!-- test 2 ending -->

                  <!-- test 3 starting -->
                  <div class="row">
                    <label for="success_30">Solution 3:</label>
                    <textarea ng-model="success_30" rows="1" cols="38" style="resize:none;">
                      Put solution here
                    </textarea>  
                    <textarea ng-model="success_31" rows="1" cols="10" style="resize:none;">
                      equal
                    </textarea>
                    <textarea ng-model="success_32" rows="1" cols="38" style="resize:none;">
                      Put solution here
                    </textarea>
                  </div>
                  <!-- test 3 ending -->
                  <!-- upload file -->
               
                  <div class="row">
                    <button class="btn btn-success" ng-click=""> Submit </button>
                  </div>
              </div>
        </form>
        <!-- Form ends here -->
      </div>
      <!-- Outermost row ends here -->

    </div>

    <!-- Success Page ends -->


</body>
</html>
