<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TestIt Homepage</title>
 
  
  <link href="css/bootstrap.min.css" rel="stylesheet"></link>
  <link href="css/form-signin.css" rel="stylesheet"></link>
  <script src="js/jquery-1.9.1.js" type='text/javascript'></script>
  <script src="js/jquery-ui-1.10.3.custom.min.js" type='text/javascript'></script> 
  <script src="js/jquery-1.11.2.min.js" type='text/javascript'></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <script src = "https://cdn.rawgit.com/nervgh/angular-file-upload/master/angular-file-upload.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.6/es5-shim.min.js"></script>
  <script src="https://rawgit.com/adamalbrecht/ngModal/master/dist/ng-modal.min.js"></script>
  <link href="https://rawgit.com/adamalbrecht/ngModal/master/dist/ng-modal.css" rel="stylesheet"></link>
  <script src="https://rawgit.com/lorenzofox3/Smart-Table/master/dist/smart-table.min.js"></script>
  <script>
    var demoApp = angular.module('demoApp',['angularFileUpload','ngModal','smart-table']);

    function MainController ($scope, $http, $location, FileUploader){
      $scope.uploader = new FileUploader();
      $scope.current_page = "landing";
      $scope.contrib_problem = "the problem";
      $scope.contrib_tests = [["","",""],["","",""],["","",""]];
      $scope.contrib_challenges = [["","",""],["","",""],["","",""]];
      $scope.drop_text = "Drop Code Folder/Files here";
      $scope.incomplete = false;
      $scope.incomplete_message= "";
      $scope.success_m= false;
      $scope.failure_m = false;
      $scope.success_message= "";
      $scope.challenges_m = false;
      $scope.challenges_message = false;

      $scope.sorry_m = false;
      $scope.problem_id = "";
      var challenges = [];
      $scope.tests_m = false;

      $scope.table_demo = [{name: "JSON", coolness:"high"},{name:"SML",coolness:"low"},{name:"Python",coolness:"wild"}];
      var test_cases = [];
      var test_text = "";

      $scope.setPage = function(page){
        $scope.current_page = page;
      };

      $scope.validSubmission = function(){
        test_cases = [$scope.assert_10, $scope.assert_11, $scope.assert_12, $scope.assert_20, $scope.assert_21, $scope.assert_22,$scope.assert_30, $scope.assert_31, $scope.assert_32];

        for (var i=0; i< test_cases.length; i++){
          if (test_cases[i]==null || test_cases[i].trim()==""){
            return false;
          }
        }
        
        return ($scope.prbsub!=null) && ($scope.prbsub.trim()!="");
      };

      $scope.validChallenges = function(){

        for (var i=0; i< $scope.contrib_challenges.length; i++){
          if ($scope.contrib_challenges[i].trim()==""){
            return false;
          }
        }

        return true;
      };

      $scope.validUserTests = function(){
        for (var i=0; i< $scope.contrib_tests.length; i++){
          if ($scope.contrib_tests[i].trim()==""){
            return false;
          }
        }

        return $scope.success_setup.trim()!="";
      };

      $scope.uploadFiles = function(){
        
        if(!$scope.validSubmission()){
          $scope.incomplete = true;
          $scope.incomplete_message = "One or more required fields was not filled out.";
          return null;
        } else if ($scope.uploader.queue.length == 0){
          $scope.incomplete = true;
          $scope.incomplete_message = "No upload file detected.";
          return null;
        }
        
        for (var i = 0; i< $scope.uploader.queue.length; i++){
          $scope.uploader.queue[i].upload();
        } 

        /*$scope.uploader.uploadAll();*/
       /* $scope.uploader.clearQueue();*/
        
        var form_data = {};
        form_data.mode = "submission";

        form_data.tests = [];
        form_data.tests.push({a10: $scope.assert_10, a11: $scope.assert_11, a12: $scope.assert_12});
        form_data.tests.push({a20: $scope.assert_20, a21: $scope.assert_21, a22: $scope.assert_22});
        form_data.tests.push({a30: $scope.assert_30, a31: $scope.assert_31, a32: $scope.assert_32});

        form_data.ps = $scope.prbsub.trim();

        console.log('sending post');

        $http.post('', form_data).
            success(function(data, status, headers, config) {
              $scope.uploader.clearQueue();
              console.log("data :" + data);
              console.log("status: " + status);
              console.log("headers: " + headers);
              console.log("config: " + config);
              if (data == "All tests passed!"){
                $scope.success_m= true;

                $scope.assert_10 = "";
                $scope.assert_11 = "";
                $scope.assert_12 = "";
                $scope.assert_20 = "";
                $scope.assert_21 ="";
                $scope.assert_22 ="";
                $scope.assert_30 = "";
                $scope.assert_31 = "";
                $scope.assert_32 = "";

                $scope.prbsub = "";
              } else {
                $scope.failure_m = true;
                $scope.success_message = data + "   ";
              }
            }).
            error(function(data, status, headers, config) {
              $scope.uploader.clearQueue();
              console.log("oh noes");
            });
        return null;
      };

      $scope.checkChallenges = function(){
        /*
        if(!$scope.validChallenges()){
          $scope.incomplete = true;
          $scope.incomplete_message = "One or more required fields was not filled out.";
          return null;
        } */

        var form_data = {};
        form_data.mode = "contributor_check";

        form_data.tests = $scope.contrib_challenges;
        console.log("\n");
        console.log("data tests: " + form_data.tests);
        form_data.problem_id = $scope.problem_id;
        console.log("problem id: " + form_data.problem_id);
        form_data.uid = "jk94";

        console.log('sending post');
        $http.post('', form_data).
            success(function(data, status, headers, config) {
              // this callback will be called asynchronously
              // when the response is available
             console.log("data :" + data);
              console.log("status: " + status);
              console.log("headers: " + headers);
              console.log("config: " + config);
              if (data == "All tests passed!"){
                $scope.challenges_m = true;
              } else {
                $scope.failure_m = true;
                $scope.success_message = data + "   ";
              }
            }).
            error(function(data, status, headers, config) {
              // called asynchronously if an error occurs
              // or server returns response with an error status.
            });
        return null;
      };

      $scope.submitContributorTests = function(){
        
        var form_data = {};
        form_data.mode = "contributor_tests";

        console.log("\n\nContrib tests :" + $scope.contrib_tests);
        form_data.tests = $scope.contrib_tests;
        console.log("\ndata tests: " + form_data.tests);

        form_data.setup = ($scope.success_setup == null) ? "" : $scope.success_setup.trim();
        form_data.problem_id = $scope.problem_id;
        form_data.uid = "jk94";

        $http.post('', form_data).
            success(function(data, status, headers, config) {
              console.log("\nfinished analyzing user tests\n");
              $scope.tests_m = true;
              console.log(JSON.stringify(data));
            }).
            error(function(data, status, headers, config) {
              // called asynchronously if an error occurs
              // or server returns response with an error status.
            });
        return null;
      };

      $scope.getProblem = function(){
      
      var form_data = {};
      form_data.mode = "contributor_tid";

      $http.post('', form_data).
            success(function(data, status, headers, config) {
              console.log("\ntid callback\n");
              console.log("data :" + JSON.stringify(data));
              console.log("status: " + status);
              console.log("headers: " + headers);
              console.log("config: " + config);
              if (data == "-1"){
                $scope.sorry_m = true;
              } else {
                $scope.problem_id = data.problem_id;
                console.log("problem_id: " + $scope.problem_id);
                $scope.check_field = data.ps;

                challenges = [];
                challenges.push([data.tests[0].a10, data.tests[0].a11, data.tests[0].a12]);
                challenges.push([data.tests[1].a20, data.tests[1].a21, data.tests[1].a22]);
                challenges.push([data.tests[2].a30, data.tests[2].a31, data.tests[2].a32]);
                
                for (var i=0; i<challenges.length; i++){
                  $scope.contrib_challenges[i][0] = challenges[i][0];
                  $scope.contrib_challenges[i][1] = challenges[i][1];
                }
              }
            }).
            error(function(data, status, headers, config) {
              // called asynchronously if an error occurs
              // or server returns response with an error status.
            });
        return null;
      }

      $scope.addTestCase = function(){
        $scope.contrib_tests.push(["","",""]);
      };

      $scope.removeTestCase = function(){
        $scope.contrib_tests.pop();
      };

      $scope.closeSuccess = function(){
        $scope.success_m = false;
      };

      $scope.closeSorry = function(){
        $scope.sorry_m = false;
      };

      $scope.closeChallenges = function(){
        $scope.challenges_m = false;
      };

      $scope.closeTests = function(){
        $scope.tests_m = false;
      };

    }

    demoApp.controller('MainController',MainController);
  </script>

  <!-- Facebook Login Script -->
  <!-- Setting up the SDK -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1562010654040284',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Setting up SDK done -->

<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      console.log('Please log into this app.');
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      console.log('Please log into this app.');
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1562010654040284',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
    });
  }
</script>

<!-- Facebook Login ends -->
  <style>
            .my-drop-zone { border: dotted 3px lightgray; text-align:center;}
            .nv-file-over { border: dotted 3px red; text-align:center;} /* Default class applied to drop zones on over */
            .another-file-over-class { border: dotted 3px green; }
            html, body { height: 100%; }
  </style>
</head>
<body ng-app="demoApp" ng-controller="MainController" uploader="uploader" nv-file-drop="">

  <div class="navbar navbar-inverse navbar-fixed-top" position="static" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><font color = "red">testIt</font></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
        
           <!-- <li><a href="">Home</a></li> -->  

            <li ><a ng-click="setPage('home')">Home</a></li>
            <li ><a ng-click="setPage('profile')">Profile</a></li>
            <li><a ng-click="setPage('submission')">Submission Page</a></li>
            <li><a ng-click="getProblem(); setPage('contribution')">Contributor Page</a></li>
            <li><a ng-click="setPage('developers')">Developers</a></li>
          
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  <br><br />
<br />



<!-- Login Page starts -->

<div class="container" ng-if="current_page == 'landing'">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <br>
            <h1 class="text-center login-title">Sign in to continue to testit</h1>
            <br>
            <div class="account-wall"><br>
                <img class="profile-img" src="images/user_icon.png"
                    alt="">
                    <br><br><br><br>
                    <div class="row">
                      <div align="center">
                        <div align="center" class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true">
                        </div>
                      </div>
                    </div>
             </div>
         </div>
     </div>
 </div>

<!-- Login Page ends -->

<!-- Modal Dialogs-->
<modal-dialog show='incomplete' dialog-title='Incomplete Submission'>
{{incomplete_message}}
</modal-dialog>

<modal-dialog show='success_m' dialog-title='Submission Uploaded!'>
  Your problem has been uploaded to our servers! <button class="btn btn-success" ng-click="setPage('profile'); closeSuccess()"> Continue </button>
</modal-dialog>

<modal-dialog show='failure_m' dialog-title='Submission Did Not Compile'>
{{success_message}}
</modal-dialog>

<modal-dialog show='challenges_m' dialog-title='You Passed!'>
  <button class="btn btn-success" ng-click="setPage('success'); closeChallenges()"> Continue </button>
</modal-dialog>

<modal-dialog show='tests_m' dialog-title='Tests Submitted!'>
  <button class="btn btn-success" ng-click="setPage('profile'); closeTests()"> Continue </button>
</modal-dialog>

<modal-dialog show='sorry_m' dialog-title='No Problems Found'>
 Sorry :( no problems to solve at this time.  
 <br />
 <button class="btn btn-success" ng-click="setPage('profile'); closeSorry()"> Continue </button>
</modal-dialog>


<!-- Developers starting -->

<div class="container" ng-if="current_page=='developers'">
  <br><br><br><br><br><br>
 <!-- <div ng-if="isAuthenticated() && currentUser.username"> -->
    <div class="container marketing" align="center">

     <div class = "row">
        <div class="col-sm-3">
          <img class="img-circle" src="images/sharang.jpg" alt= "Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Sharang</h2>
          <p>  SCS 2017 <br> Carnegie Mellon University
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button"> More about me </a>
          </p>  
        </div>
      
        <div class="col-sm-3">
          <img class="img-circle" src="images/narain.jpg" alt= "Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Narain</h2>
          <p>  MCS 2017 <br> Carnegie Mellon University
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button"> More about me </a>
          </p>  
        </div>
        
        <div class="col-sm-3">
          <img class="img-circle" src="images/sohil.jpg" alt= "Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Sohil</h2>
          <p>  ECE 2016 <br> Carnegie Mellon University
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button"> More about me </a>
          </p>  
        </div>
       
        <div class="col-sm-3">
          <img class="img-circle" src="images/ashwin.jpg" alt= "Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Ashwin</h2>
          <p>  ECE 2017 <br> Carnegie Mellon University
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button"> More about me </a>
          </p>  
        </div>

       </div>

     </div>
</div>

<!-- Developers Ending -->

<!--Problem Submission Starting -->
<div class="container" ng-if="current_page == 'submission'">
      <div class="row text-center">
        <h4 for="prbsub">Problem Submission</h4>
      </div>
      <div class="row">
        <form role="form">
              <div class="form-group text-center">
                  <textarea ng-model="$parent.prbsub" rows="13" cols="100" style="resize:none;">
                    Type problem here ....
                  </textarea>
                  <br>

                  <!-- test1 starting -->
                  <div class="row">
                    <label>Test 1:</label>
                    <textarea ng-model="$parent.assert_10" rows="1" cols="38" style="resize:none;">
                      test 1 here ..
                    </textarea>  
                    <textarea ng-model="$parent.assert_11" rows="1" cols="10" style="resize:none;">
                      equal
                    </textarea>
                    <textarea ng-model="$parent.assert_12" rows="1" cols="38" style="resize:none;">
                      test 1 here ..
                    </textarea>
                  </div>
                  <!-- test1 ending -->

                  <!-- test 2 starting -->
                  <div class="row">
                    <label for="assert_20">Test 2:</label>
                    <textarea ng-model="$parent.assert_20" rows="1" cols="38" style="resize:none;">
                      test 2 here ..
                    </textarea>  
                    <textarea ng-model="$parent.assert_21" rows="1" cols="10" style="resize:none;">
                      equal
                    </textarea>
                    <textarea ng-model="$parent.assert_22" rows="1" cols="38" style="resize:none;">
                      test 2 here ..
                    </textarea>
                  </div>
                  <!-- test 2 ending -->

                  <!-- test 3 starting -->
                  <div class="row">
                    <label for="assert_30">Test 3:</label>
                    <textarea ng-model="$parent.assert_30" rows="1" cols="38" style="resize:none;">
                      test 3 here ..
                    </textarea>  
                    <textarea ng-model="$parent.assert_31" rows="1" cols="10" style="resize:none;">
                      equal
                    </textarea>
                    <textarea ng-model="$parent.assert_32" rows="1" cols="38" style="resize:none;">
                      test 3 here ..
                    </textarea>
                  </div>
                  <!-- test 3 ending -->
        
              
                  <br />
                  <div class="row">
                      <div class="col-md-4 col-md-offset-4">
                        <div class="well my-drop-zone"  nv-file-over="" uploader="uploader">
                           {{drop_text}}
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <li ng-repeat="item in uploader.queue">
                        Name: <span ng-bind="item.file.name"></span><br/>
                    </li>
                  </div> 

                  <div class="row">
                    <button class="btn btn-success" ng-click="uploadFiles()"> Upload </button>
                  </div>
                  
              </div>
        </form>
        <!-- Form ends here -->
      </div>
      <!-- Outermost row ends here -->

    </div>

<!-- Problem Submission Ending -->

<!--Contribution page Starting -->

<div class="container" ng-if="current_page == 'contribution'">
      <div class="row text-center">
        <h3 for="prbsub">Eligibility Test</h3>
      </div>
      <br>
      <div class="row">
        <form role="form">
              <div class="form-group text-center">
                   <textarea ng-model="$parent.check_field" disabled rows="10" cols="105" style="resize:none;">
                      
                  </textarea>  
                  <br>
      
                  <div class="row text-center">
                    <h4 for="prbsub">Fill in missing parts of the Test Cases</h4>
                  </div>

                  <div class="row" ng-repeat = "t in $parent.contrib_challenges">
                    <label>Check {{$parent.contrib_challenges.indexOf(t) + 1}}</label>
                    <textarea ng-model="t[0]" disabled rows="1" cols="38" style="resize:none;">
                      
                    </textarea>  
                    <textarea ng-model="t[1]" disabled rows="1" cols="10" style="resize:none;">
                      
                    </textarea>
                    <textarea ng-model="t[2]" rows="1" cols="38" style="resize:none;">
                      
                    </textarea>
                  </div>
                
               
                  <div class="row">
                    <button class="btn btn-success" ng-click="checkChallenges()"> Submit </button>
                  </div>
              </div>
        </form>
        <!-- Form ends here -->
      </div>
      <!-- Outermost row ends here -->

    </div>
<!-- Contribution Page ends -->

    <!-- Success Page starts -->

<div class="container" ng-if="current_page == 'success'">
      <div class="row text-center">
        <h4 for="prbsub">Contribute Your Solution</h4>
      </div>
      <div class="row">
        <form role="form">
              <div class="form-group text-center">
                  <textarea ng-model="$parent.success_setup" rows="10" cols="105" style="resize:none;">
                      
                  </textarea>  
                  <br>
                  <br>

                  <div class="row text-center">
                    <h4 for="prbsub">Your Custom Test Cases go here</h4>
                  </div>
                    <div class="row" ng-repeat = "t in $parent.contrib_tests">
                    <label>Test {{$parent.contrib_tests.indexOf(t) + 1}}</label>
                    <textarea ng-model="t[0]" rows="1" cols="38" style="resize:none;">
                      thingy
                    </textarea>  
                    <textarea ng-model="t[1]" rows="1" cols="10" style="resize:none;">
                      
                    </textarea>
                    <textarea ng-model="t[2]" rows="1" cols="38" style="resize:none;">
                      
                    </textarea>
                  </div>

                  <!-- Add Tests button -->
                  <div class="row">
                    <div class="col-md-2 col-md-offset-3">
                      <a href="">
                          <span class="glyphicon glyphicon-plus" ng-click="addTestCase()">
                            Add Test
                          </span>
                      </a>
                      <a href="">
                          <span class="glyphicon glyphicon-minus" ng-click="removeTestCase()">
                            Remove Test
                          </span>
                      </a>
                    </div>
                  </div>
                  <!-- Add Tests ending-->
  
               
                  <div class="row">
                    <button class="btn btn-success" ng-click="submitContributorTests()"> Submit </button>
                  </div>
              </div>
        </form>
        <!-- Form ends here -->
      </div>
      <!-- Outermost row ends here -->

    </div>

<br />
<br />
<table st-table="table_demo" st-safe-src="table_demo" class="table table-striped" ng-if="current_page!= 'contrib_result'" >
  <thead>
  <tr>
    <th>Function</th>
    <th>Result</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in table_demo">
    <td>{{row.name}}</td>
    <td>{{row.coolness}}</td>
  </tr>
  </tbody>
</table>

    <!-- Success Page ends -->


</body>
</html>
