

<div class="container">
 <!-- <div ng-if="isAuthenticated() && currentUser.username"> -->
    <div class="container marketing" align="center">

     <div class = "row">
        <div class="col-sm-3">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt= "Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Sharang</h2>
          <p>  SCS 2017 <br> Carnegie Mellon University
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button"> More about me </a>
          </p>  
        </div>
      
        <div class="col-sm-3">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt= "Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Narain</h2>
          <p>  MCS 2017 <br> Carnegie Mellon University
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button"> More about me </a>
          </p>  
        </div>
        
        <div class="col-sm-3">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt= "Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Sohil</h2>
          <p>  ECE 2016 <br> Carnegie Mellon University
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button"> More about me </a>
          </p>  
        </div>
       
        <div class="col-sm-3">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt= "Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Ashwin</h2>
          <p>  ECE 2017 <br> Carnegie Mellon University
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button"> More about me </a>
          </p>  
        </div>

       </div>

     </div>
 <!--  </div> -->
</div>